* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #022c22;
  padding: 1.5rem 4.5rem 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.logo {
  height: 34px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
nav > ul > a {
  text-decoration: none;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#login {
  background: transparent;
  border: none;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  font-weight: 400;
}

.get-started {
  background-color: #ffffff;
  border-radius: 200px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  text-align: center;
  color: #022c22;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -8rem;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1,
p {
  color: #1d1f1e;
}
h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -0.02em;
  max-width: 70%;
}
p {
  padding-top: 2rem;
  width: 100%;
  max-width: 65%;
  font-size: 20px;
  line-height: 26px;
  color: #646a69;
  font-weight: 400;
  text-transform: capitalize;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 124px;
}

#start-button-content {
  margin-top: 48px;
  font-weight: 400;
  font-size: 18px;
}

.dark {
  background-color: #022c22;
  color: #ffffff;
}

.video-frame {
  padding-top: 72px;
  cursor: pointer;
}

.video-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ham-icon {
  display: none;
  height: 24px;
  width: 24px;
}

.modal {
  display: none;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #022c22;
  z-index: 1;
  transition: 0.5s;
}

.modal > ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 48px;
}
.modal > ul > a {
  text-decoration: none;
}

.modal > ul > a > li {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.close-button {
  position: absolute;
  right: 0;
  margin: 32px;
  height: 27px;
  width: 26px;
  cursor: pointer;
}

.close-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  nav,
  .nav-buttons {
    display: none;
  }
  header {
    width: 100vw;
    padding: unset;
    padding: 24px;
  }

  .ham-icon {
    display: block;
  }

  .hero-content {
    padding: 0;
    padding-top: 55px;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
    max-width: 100%;
    padding-inline: 1.5rem;
  }

  p {
    font-size: 1rem;
    max-width: 100%;
    padding-inline: 1.5rem;
  }

  .bg {
    display: none;
  }

  .video-frame {
    width: 100%;
    cursor: pointer;
    padding-top: unset;
    padding-inline: 1.5rem;
  }
}
